{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}


{% block style %} 

<style>
    .login_style {
        width: 500px;
        margin: auto;
    }
</style>

{% endblock %}


{% block body %} 

<div class="container mt-4 login_style">
    <h2>Login User</h2>

    <form action="" method="post" novalidate>
        {% csrf_token %}
        {{form | crispy}}
        <input type="hidden" name="next" value = "{{next}}"/>
        <input type="submit" value="Login" class="btn btn-success">

        <!-- <input type="submit" value="Login" class="btn btn-success"> -->

    </form>

    <!-- <div class="row mt-4">
        <div class="col">
            <button class="btn btn-primary">
                <a class="link-style" href="{% url 'social:begin' 'facebook' %}">Sign in with Facebook</a>
            </button>
        </div>
        <div class="col">
            <button class="btn btn-danger">
                <a class="link-style" href="{% url 'social:begin' 'github' %}">Sign in with Github</a>
            </button>
        </div>
        <div class="col">
            <button class="btn btn-warning">
                <a class="link-style" href="{% url 'social:begin' 'linkedin-outh2' %}">Sign in with Linkedin</a>
            </button>
        </div>
    </div> -->

</div>

{% endblock %} 

